@charset "utf-8";

/* ------------------------------------- Partie du html ---------------------------------------- */
html {
    scroll-behavior: smooth;
    
}

p {
    font-weight: bold;
}

img {
    margin : 1rem 2rem 2rem 2rem;
    border-radius: 16px;
}

li {
    font-weight: bold;
}

/* ------------------------------------- Partie du body ---------------------------------------- */

html body {
    margin : 0;
    background-color: rgb(2, 3, 32);
    font-family: helvetica;
    color: white;
    
}

.descpresentfirst   {
    margin: 2rem 0 0 0;

}

.description {
    font-size: 1.2rem;
    margin: 1rem 0 2rem 1rem;
    padding : auto;
    text-align: left;
    font-weight: bold;
}

.descpresent    {
    font-size: 1.2rem;
    margin: 0 0 1rem 1rem;
}

h2 {
    text-align: left;
    margin-left: 1rem;
}

.titre1projet   {
    text-align: left;
    margin-left: 2rem;
    font-weight: bold;
}

/* ------------------------------------- Partie du header -------------------------------------- */

header {
    background-color: #03135a;
    /*
    box-shadow: 0px 0px 10px 2px #03135aa4;
    */
    text-align: 10px;
    margin: 0;

    position : fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* pour passer au-dessus du contenu */

    
}
.titrep {
    font-size: 2rem;
}

header h1 {
    font-size: 2rem;
}

.titrepage {
    font-size: 2rem;
    font-weight: bold;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titre {
    font-size: 2rem;
    margin: 1rem 0 1rem 2rem;
    padding: 0;
}

nav    {
    margin-right: 2rem;
}

nav ul {
    display: flex;
    gap: 2rem; 
    list-style: none;
    font-weight: bold;
}

a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

/* ------------------------------------- Partie du main ---------------------------------------- */

main {
    margin-top: 120px; /* ajuste selon la hauteur de ton header */
}


.hautpage, .hautpage2    {
    text-align: center;
    margin: 2rem ;
    padding: 0.01rem;
    background-color: #03135aa4;
    border-radius: 10rem;
    box-shadow: 0px 0px 10px 2px #03135aa4;
}

.presentation,
.projet,
.experience,
.competences,
.parcours,
.contact {
    margin: 2rem;
    padding: 2rem;
    background-color: #03135aa4;
    border-radius: 2rem;
    box-shadow: 0px 0px 10px 2px #03135aa4;
}


main p {
    font-size: 1rem;
}

.hautpage2  {
    width: 40%;
    padding: 0.5rem;
    margin: auto;
    
}


#projet, #experience, #competences, #parcours, #contact { /* pour que quand vous sélectionner sur la barre de navigation en haut à droit cela vous ramène à l'endrot sélectionné */
    scroll-margin-top: 20px;
}

.descimg    {
    display: flex;
    gap: 1.5rem; /* espace propre entre image et texte */
    align-items: center;

}

/* ----------------------------------- Partie contenu ------------------------------------------ */

/* --------------------------------- Partie présentation --------------------------------------- */

.presentation {
    background-color: #03135aa4;
    box-shadow: 0px 0px 10px 2px #03135aa4;
}

/* ------------------------------------ Partie projet ------------------------------------------ */
.projet {
    background-color: #1263a5a4;
    box-shadow: 0px 0px 10px 2px #1263a5a4;
    display: flex;
    flex-direction: column;
    width : auto;

}

.textimg {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    margin: 0 2rem 1rem 0;
}

.sectionexp {
    /*
    display: flex;        
    gap: 2rem;          
    align-items: flex-start;
    */
}

.projet section section{
    background-color: #062742c4;
    box-shadow: 0px 0px 10px 2px #062742c4;
    border-radius: 15px;
    width : fit-content;
    margin: 1.5rem;
    padding-top: 1rem;
    
}
.algo {
    width : 200px;
    height : 200px; 
}

.rpi {
    width: 400px;
    height: 200px;
}

.ri {
    width : 27%
}

/* ------------------------------------ Partie expérience -------------------------------------- */
.experience {
    background-color: #0c531ca4;
    box-shadow: 0px 0px 10px 2px #0c531ca4;
}

.experience section {
    display: flex;
    gap: 1.5rem; /* espace propre entre image et texte */
}

.so {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #03250be8;
    box-shadow: 0px 0px 10px 2px #03250be8;
    border-radius: 15px;
    margin: 2rem 0 0 0;
    padding: 1rem 0 2rem 0;
    height: fit-content;
    width: 90%;
    
}

.sewan {
    text-align: left;
    margin-left: 3rem;
    font-size: 1rem;
    
}

.so .textimg    {
    margin : 0 1rem 0 2rem;
}

.so img {
    margin: 0 2rem 2rem 2rem;
    width: 100%;

}

.so a {
    text-align: center;
}

.descimgso{
align-items: center;


}
/*
.descimgso .textimg {
    justify-content: center;
}

*/

/* ------------------------------------ Partie competences -------------------------------------- */

.competences {
    background-color: #4f1874a4;
    box-shadow: 0px 0px 10px 2px #4f1874a4;
}

.competences section {
    background-color: #230735b7;
    box-shadow: 0px 0px 10px 2px #230735b7;
    border-radius: 15px;
}

.lp {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; /* espace propre entre image et texte */
    width: 20%;
}

.langues {
    display: flex;
    width: auto;
    height: 20%;
}

.skills img {
    width : 30%;
}

.logo {
    width: 20%;
    border-radius: 5px  ;
}

.softskills    {
    display: flex;
    width: 20%; 
    height: 1%;
}

.softskills li {
    margin: 1rem 0 1rem 0;
}

.hobby  {
    display: flex;
    width: 20%;
    height: 20%;
}

.hobby li {
    margin: 1rem 0 1rem 0;
}

.tabcomp    {
    display: flex;
    gap: 1.5rem; /* espace propre entre image et texte */
    background-color: none;
}

/* --------------------------------- Partie parcours scolaires ---------------------------------- */

.parcours {
    background-color: #442626a4;
    box-shadow: 0px 0px 10px 2px #442626a4;
    padding: 2.525rem;
    
}

.pslist {
    display: flex;
    gap: 1.5rem; /* espace propre entre image et texte */
}
.collegeodg {
    width: 30%;
}

.lyceegb    {
    width: 30%;
}

.iuto   {
    width: 30%;
}

.etablissement  {
    display: flex;
    width: 50%;
    background-color: #472121e0;
    box-shadow: 0px 0px 10px 2px #472121e0;
    border-radius: 20px;
    padding: 0 2rem 0 0;
}

.bat {
    display: flex;
    flex-direction: column;
    background-color: #6b1818;
    box-shadow: 0px 0px 10px 2px #6b1818;
    border-radius: 20px;
    margin : 2rem 0 2rem 0;
    padding : 0 0 0 1rem;
}

.etablissement p {
    font-weight: bold;
}

.diplome    {
    display: flex;
    width: 30%;
    height: 20%;
    background-color: #472121e0;
    box-shadow: 0px 0px 10px 2px #472121e0;
    border-radius: 20px;
    padding: 0 0 1rem 0;
}

.diplome p {
    margin : 1rem 0 1rem 0;
}

.diplome2    {
    display: flex;
    width: 70%;
    padding: 10%;
    background-color: #6b1818;
    box-shadow: 0px 0px 10px 2px #6b1818;
    border-radius: 20px;
    margin: 2rem 0 2rem 0;
}

.diplome2 p {
    margin : 1rem 0 1rem 0;
    font-weight: bold;
}

.diplome3    {
    display: flex;
    width: 70%;
    padding: 10%;
    background-color: #6b1818;
    box-shadow: 0px 0px 10px 2px #6b1818;
    border-radius: 20px;
    margin: 1rem 0 1rem 0;
}

.diplome3 p {
    margin : 1rem 0 1rem 0;
    font-weight: bold;
}

/* ------------------------------------ Partie me_contacter -------------------------------------- */

.contact {
    background-color: #0f1e64a4;
    box-shadow: 0px 0px 10px 2px #0f1e64a4;
}

.gh {
    width: 50%;
    background-color: white;
    margin : 0;
}

.bullec {
    background-color: #080e2ece;
    box-shadow: 0px 0px 10px 2px #080e2ece;
    border-radius: 15px;
    padding: 1.5rem;
    width: 20%;
}

.bullecg {
    display: flex;
    gap: 3rem;
}

.contact h2 {
    margin: 1rem 1rem 2rem 0;
}




/* ------------------------------------- Partie du footer -------------------------------------- */